noscript
  fixed top left bottom right
  max-width 50%
  max-height 10%
  margin auto
  text-align center
  background-clip text
  z-index 1000
  &:before
    background linear-gradient(top, rgba(200,200,200,.5), rgba(255,255,255,.5))
    fixed top left bottom right
    z-index 999
    content ''
    display block

header > *
  display inline-block
